<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="180 seconds" debug="false">

	<property name="LOG_HOME" value="/opt/openapi-logs" />
	<property name="MAX_HISTORY" value="50" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level (%F:%L\) - %msg%n
			</pattern>
		</encoder>
	</appender>


	<!-- 15 files -->
	<appender name="RollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">

		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/bmi-%d{yyyy-MM-dd}-%i.log
			</FileNamePattern>
			<MaxHistory>${MAX_HISTORY}</MaxHistory>
			<TimeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<MaxFileSize>20MB</MaxFileSize>
			</TimeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder charset="UTF-8">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level
				%logger{64}:%L - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 输出到控制台和文件，可定义更多的 Appender -->
	<root level="INFO">
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>

	<!-- 下面配置一些第三方包的日志过滤级别，用于避免刷屏 -->
	<logger name="org.springframework" level="WARN" />
	<logger name="com.opensymphony" level="WARN" />
	<logger name="org.apache" level="WARN" />

	 

</configuration>

