<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.deslak.dao.DisctDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.deslak.entity.Dicts">
        <result column="id" property="id"/>
        <result column="value" property="value"/>
        <result column="name" property="name"/>
        <result column="object" property="object"/>
        <result column="field" property="field"/>
        <result column="ext" property="ext"/>
    </resultMap>

    <select id="fetchDicts" resultMap="BaseResultMap">
        select dicts.id, dicts.value, dicts.name, dicts.object, dicts.field, dicts.ext
        from dicts where 1 = 1
        <if test="table != null">
            and dicts.object = #{table}
        </if>
        <if test="field != null">
            and dicts.field = #{field}
        </if>
    </select>

    <select id="fetchForSpecialRequired" resultMap="BaseResultMap">
        select dicts.id, dicts.value, dicts.name, dicts.object, dicts.field, dicts.ext
        from dicts
        where dicts.object = 'task'
        and dicts.field = 'state'
        and name in ('关闭','完成','未下发')
    </select>
</mapper>
