<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.deslak.dao.HistoryDao">

    <!-- 日计划审核历史 -->
    <resultMap id="DailyReviewHistoryResultMap" type="cn.deslak.entity.DailyReviewHistory">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="section_id" property="sectionId"/>
        <result column="section" property="section"/>
        <result column="capacity" property="capacity"/>
        <result column="stock" property="stock"/>
        <result column="stock_ource" property="stockSource"/>
        <result column="bite" property="bite"/>
        <result column="stock_ask_time" property="stockAskTime"/>
        <result column="day_dosage_ask" property="dayDosageAsk"/>
        <result column="half_month" property="halfMonth"/>
        <result column="day_dosage" property="dayDosage"/>
        <result column="on_road" property="onRoad"/>
        <result column="estimated_shipments" property="estimatedShipments"/>
        <result column="route_time" property="routeTime"/>
        <result column="car_type" property="carType"/>
        <result column="car_type_weight" property="carTypeWeight"/>
        <result column="task_nums" property="taskNums"/>
        <result column="first_task" property="firstTask"/>
        <result column="first_overplus" property="firstOverplus"/>
        <result column="second_task" property="secondTask"/>
        <result column="second_overplus" property="secondOverplus"/>
        <result column="third_task" property="thirdTask"/>
        <result column="remark" property="remark"/>
        <result column="add_time" property="addTime"/>
        <result column="is_OK" property="isOk"/>
        <result column="statue" property="statue"/>
        <result column="planeStock" property="planeStock"/>
        <result column="materia" property="materia"/>
        <result column="batch" property="batch"/>
        <result column="huowu_id" property="huowuId"/>
        <result column="huowu_id" property="huowuName"/>
        <result column="gen_date" property="genDate"/>
        <result column="isUpOver" property="isUpOver"/>
        <result column="isTraverOver" property="isTraverOver"/>
    </resultMap>

    <!-- 任务审核历史 -->
    <resultMap id="TaskReviewHistoryResultMap" type="cn.deslak.entity.TaskReviewHistory">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="daily_id" property="dailyId"/>
        <result column="dailyCode" property="dailyCode"/>
        <result column="cement_id" property="cementId"/>
        <result column="section_id" property="sectionId"/>
        <result column="cementName" property="cementName"/>
        <result column="sectionName" property="sectionName"/>
        <result column="car_id" property="carId"/>
        <result column="route_id" property="routeId"/>
        <result column="driver" property="driver"/>
        <result column="tasks" property="tasks"/>
        <result column="real_up" property="realUp"/>
        <result column="real_up_img" property="realUpImg"/>
        <result column="real_down" property="realDown"/>
        <result column="real_down_img" property="realDownImg"/>
        <result column="isOK" property="isOK"/>
        <result column="state" property="state"/>
        <result column="weight2" property="weight2"/>
        <result column="weight" property="weight"/>
        <result column="pass1" property="pass1"/>
        <result column="pass2" property="pass2"/>
        <result column="remark" property="remark"/>
        <result column="fin_time" property="finTime"/>
        <result column="up_time" property="upTime"/>
        <result column="down_time" property="downTime"/>
        <result column="isUp" property="isUp"/>
        <result column="isDown" property="isDown"/>
        <result column="pici" property="pici"/>
        <result column="license" property="license"/>
        <result column="batch" property="batch"/>
        <result column="gen_date" property="genDate"/>
        <result column="isUpOver" property="isUpOver"/>
        <result column="isTraverOver" property="isTraverOver"/>
        <result column="huowu_id" property="huowuId"/>
        <result column="huowu_name" property="huowuName"/>
    </resultMap>

    <resultMap id="batchResultMap" type="java.lang.String">
        <result column="riqi" property="riqi"/>
    </resultMap>

    <select id="fetchDailyReviewHistory" resultMap="DailyReviewHistoryResultMap">
        select daily_state_history_.cement as cement, daily_state_history_.section as section, daily_state_history_.plan as plan, daily_state_history_.plan as plan,
        daily_state_history_.edit_plan as edit_plan
        from daily_state_history daily_state_history_
    </select>

    <select id="fetchTaskReviewHistory" resultMap="TaskReviewHistoryResultMap">
        select task_history_.code as code, cement_.name as cementName, section_.name as sectionName, daily_.code as dailyCode,
        task_history_.batch as batch, task_history_.tasks as tasks, task_history_.real_up as realUp, task_history_.real_down as realDown
        from task_history task_history_
        inner join cement cement_ on task_history_.cement_id = cement_.id
        inner join section section_ on task_history_.section_id = section_.id
        inner join daily daily_ on task_history_.daily_id = daily_id
        where 1 = 1
        <if test="batchDate != null and batchDate != '未知选择'">
            and task_history_.batch like #{batchDate}"%"
        </if>
        <if test="cementId != null and cementId != -1">
            and task_history_.cement_id = #{cementId}
        </if>
        <if test="sectionId != null and sectionId != -1">
            and task_history_.section_id = #{sectionId}
        </if>
        group by code
    </select>

    <select id="fetchBatchList" resultType="java.lang.String">
        select riqi
        from task_history
        group by riqi
    </select>

</mapper>
