<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.deslak.dao.HistoryDao">

    <!-- 日计划审核历史 -->
    <resultMap id="DailyReviewHistoryResultMap" type="cn.deslak.entity.DailyReviewHistory">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="section_id" property="sectionId"/>
        <result column="section" property="section"/>
        <result column="capacity" property="capacity"/>
        <result column="stock" property="stock"/>
        <result column="stock_ource" property="stockSource"/>
        <result column="bite" property="bite"/>
        <result column="stock_ask_time" property="stockAskTime"/>
        <result column="day_dosage_ask" property="dayDosageAsk"/>
        <result column="half_month" property="halfMonth"/>
        <result column="day_dosage" property="dayDosage"/>
        <result column="on_road" property="onRoad"/>
        <result column="estimated_shipments" property="estimatedShipments"/>
        <result column="route_time" property="routeTime"/>
        <result column="car_type" property="carType"/>
        <result column="car_type_weight" property="carTypeWeight"/>
        <result column="task_nums" property="taskNums"/>
        <result column="first_task" property="firstTask"/>
        <result column="first_overplus" property="firstOverplus"/>
        <result column="second_task" property="secondTask"/>
        <result column="second_overplus" property="secondOverplus"/>
        <result column="third_task" property="thirdTask"/>
        <result column="remark" property="remark"/>
        <result column="add_time" property="addTime"/>
        <result column="is_OK" property="isOk"/>
        <result column="statue" property="statue"/>
        <result column="planeStock" property="planeStock"/>
        <result column="materia" property="materia"/>
        <result column="batch" property="batch"/>
        <result column="huowu_id" property="huowuId"/>
        <result column="huowu_id" property="huowuName"/>
        <result column="gen_date" property="genDate"/>
        <result column="isUpOver" property="isUpOver"/>
        <result column="isTraverOver" property="isTraverOver"/>
    </resultMap>

    <!-- 任务审核历史 -->
    <resultMap id="TaskReviewHistoryResultMap" type="cn.deslak.entity.TaskReviewHistory">
        <result column="id" property="id"/>
        <result column="code" property="code"/>
        <result column="daily_id" property="dailyId"/>
        <result column="dailyCode" property="dailyCode"/>
        <result column="cement_id" property="cementId"/>
        <result column="section_id" property="sectionId"/>
        <result column="cementName" property="cementName"/>
        <result column="sectionName" property="sectionName"/>
        <result column="car_id" property="carId"/>
        <result column="car" property="car"/>
        <result column="route_id" property="routeId"/>
        <result column="driver" property="driver"/>
        <result column="tasks" property="tasks"/>
        <result column="real_up" property="realUp"/>
        <result column="real_up_img" property="realUpImg"/>
        <result column="real_down" property="realDown"/>
        <result column="real_down_img" property="realDownImg"/>
        <result column="isOK" property="isOK"/>
        <result column="state" property="state"/>
        <result column="weight2" property="weight2"/>
        <result column="weight" property="weight"/>
        <result column="pass1" property="pass1"/>
        <result column="pass2" property="pass2"/>
        <result column="remark" property="remark"/>
        <result column="fin_time" property="finTime"/>
        <result column="accept_time" property="acceptTime"/>
        <result column="up_time" property="upTime"/>
        <result column="down_time" property="downTime"/>
        <result column="isUp" property="isUp"/>
        <result column="isDown" property="isDown"/>
        <result column="pici" property="pici"/>
        <result column="license" property="license"/>
        <result column="batch" property="batch"/>
        <result column="gen_date" property="genDate"/>
        <result column="isUpOver" property="isUpOver"/>
        <result column="isTraverOver" property="isTraverOver"/>
        <result column="huowu_id" property="huowuId"/>
        <result column="huowu_name" property="huowuName"/>
        <result column="beforeCar" property="beforeCar"/>
        <result column="upOverTime" property="upOverTime"/>
        <result column="traverOverTime" property="traverOverTime"/>
    </resultMap>

    <select id="fetchDailyReviewHistory" resultMap="DailyReviewHistoryResultMap">
        select daily_history_.id as id, daily_history_.batch as batch, daily_history_.section as section, daily_history_.code as code,
        daily_history_.planeStock as planeStock, daily_history_.remark as remark
        from daily_history daily_history_
        where 1 = 1
        <if test="batch != null and batch != '未知选择'">
            and daily_history_.batch like "%-"#{batch}
        </if>
        <if test="section != null and section  != '未知选择'">
            and daily_history_.section like #{section}"%"
        </if>
        group by id
    </select>

    <select id="fetchTaskReviewHistory" resultMap="TaskReviewHistoryResultMap">
        select task_history_.id as id, task_history_.code as code, cement_.name as cementName, section_.name as sectionName, task_history_.state as state,
        task_history_.batch as batch, task_history_.tasks as tasks, task_history_.real_up as real_up, task_history_.real_down as real_down, task_history_.gen_date as gen_date,
        task_history_.beforeCar as beforeCar, task_history_.upOverTime as upOverTime, task_history_.traverOverTime as traverOverTime, task_history_.accept_time as accept_time,
        task_history_.down_time as down_time, car_.license as car, task_history_.real_up_img as real_up_img, task_history_.real_down_img as real_down_img
        from task_history task_history_
        inner join cement cement_ on task_history_.cement_id = cement_.id
        inner join section section_ on task_history_.section_id = section_.id
        inner join car car_ on task_history_.car_id = car_id
        where 1 = 1
        <if test="batch != null and batch != '未知选择'">
            and task_history_.batch like "%-"#{batch}
        </if>
        <if test="cementId != null and cementId != -1">
            and task_history_.cement_id = #{cementId}
        </if>
        <if test="sectionId != null and sectionId != -1">
            and task_history_.section_id = #{sectionId}
        </if>
        <if test="state != null and state != -1">
            and task_history_.state = #{state}
        </if>
        <if test="isChangeCar != null and isChangeCar != -1">
            and task_history_.isChangeCar = #{isChangeCar}
        </if>
        <if test="license != null and license != ''">
            and task_history_.beforeCar = #{license}
        </if>
        <if test="loadOverTime != null and loadOverTime == 1">
            and task_history_.isUpOver = 1
        </if>
        <if test="loadOverTime != null and loadOverTime == 0">
            and task_history_.isUpOver = 0
        </if>
        <if test="transportOverTime != null and transportOverTime == 1">
            and task_history_.isTraverOver = 1
        </if>
        <if test="transportOverTime != null and transportOverTime == 0">
            and task_history_.isTraverOver = 0
        </if>
        <if test="rangeStart != null and rangeEnd != null">
            and LEFT ( task_history_.batch, 10 ) &gt;= #{rangeStart}
            and LEFT ( task_history_.batch, 10 ) &lt;= #{rangeEnd}
        </if>
        group by id
    </select>

    <select id="fetchBatchOfTask" resultType="java.lang.String">
        select batch
        from task_history
        group by batch
    </select>

    <select id="fetchBatchOfDaily" resultType="java.lang.String">
        select batch
        from daily_history
        group by batch
    </select>
</mapper>
