<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.deslak.dao.SectionDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.deslak.entity.Section">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="position" property="carryId"/>
        <result column="location" property="location"/>
        <result column="area" property="area"/>
        <result column="capacity" property="capacity"/>
        <result column="stock" property="stock"/>
        <result column="daily" property="daily"/>
        <result column="red_line" property="redLine"/>
        <result column="contact" property="contact"/>
        <result column="control" property="control"/>
    </resultMap>

    <select id="fetchAllSection" resultMap="BaseResultMap">
        select section.id, section.name, section.carry_id carryId, section.location, section.area, section.capacity, section.stock, section.daily,
        section.red_line redLine, section.contact, section.control
        from section
    </select>
</mapper>
