<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>任务拒绝修改</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--    <link rel="stylesheet" th:href="@{/static/layui/css/formSelects-v4.css}" media="all">-->
    <link rel="stylesheet" type="text/css" th:href="@{/static/layui/css/layui.css}"/>
    <script th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/js/jquery.min.js}"></script>
<!--    <script th:src="@{/static/js/formSelects-v4.js}" type="text/javascript" charset="utf-8"></script>-->
</head>
<body style="width: 96%;margin:0 auto;margin-top: 20px">
<div>
    <div class="layui-container-fluid">
        <div class="layui-row layui-col-space12">
            <form class="layui-form layui-form-pane" action="" method="get">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>任务拒绝修改</legend>
                </fieldset>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">水泥厂</label>
                        <div class="layui-input-inline">
                            <select id="cementId"  lay-search="">
                                <option value="-1">未选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">标站</label>
                        <div class="layui-input-inline">
                            <select id="sectionId"  lay-search="">
                                <option value="-1">未选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">装货超时</label>
                        <div class="layui-input-inline">
                            <select id="loadOverTime"  lay-search="">
                                <option value="-1">未选择</option>
                                <option value="1">超时</option>
                                <option value="0">未超时</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">运输超时</label>
                        <div class="layui-input-inline">
                            <select id="transportOverTime"  lay-search="">
                                <option value="-1">未选择</option>
                                <option value="1">超时</option>
                                <option value="0">未超时</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态异常</label>
                        <div class="layui-input-inline">
                            <select id="hasError"  lay-search="">
                                <option value="-1">未选择</option>
                                <option value="1">异常</option>
                                <option value="0">无异常</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">物资公司</label>
                        <div class="layui-input-inline">
                            <select id="materialId"  lay-search="" xm-select="selectId">
                                <option value="-1">未选择</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">物流公司</label>
                        <div class="layui-input-inline">
                            <select id="logistic"  lay-search="">
                                <option value="-1">未选择</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div class="layui-inline">
                <button id="sync" class="layui-btn layui-btn-fluid">
                    同步任务拒绝表
                </button>
            </div>
            <div class="layui-inline">
                <button id="counts" class="layui-btn layui-btn-fluid">
                    查询
                </button>
            </div>
        </div>
    </div>
    <div>
        <div class="layui-row layui-col-space12">
            <div class="layui-col-md12">
                <table class="layui-hide" id="all" lay-filter="all"></table>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['table', 'util', 'laydate'], function () {
        var laydate = layui.laydate;
        //日期时间范围
        laydate.render({
            elem: '#dateRange'
            ,range: true
        });
        var table = layui.table;
        var util = layui.util;
        //检查项目添加到下拉框中
        $.ajax({
            url: '/cement/fetch',
            dataType: 'json',
            type: 'get',
            success: function (res) {
                $.each(res.data.list, function (index, item) {
                    $('#cementId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });
        $.ajax({
            url: '/section/fetch',
            dataType: 'json',
            type: 'get',
            success: function (res) {
                $.each(res.data.list, function (index, item) {
                    $('#sectionId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });
        $.ajax({
            url: '/dicts/state_special',
            dataType: 'json',
            type: 'get',
            success: function (res) {
                $.each(res.data.list, function (index, item) {
                    $('#state').append(new Option(item.name, item.value));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });
        $.ajax({
            url: '/material/fetch',
            dataType: 'json',
            type: 'get',
            success: function (res) {
                $.each(res.data.list, function (index, item) {
                    $('#materialId').append(new Option(item.name, item.id));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });
        $.ajax({
            url: '/material/fetch_logistic',
            dataType: 'json',
            type: 'get',
            success: function (res) {
                $.each(res.data.list, function (index, item) {
                    $('#logistic').append(new Option(item, item));// 下拉菜单里添加元素
                });
                layui.form.render("select");
            }
        });
        table.on('edit(all)', function(obj){
            var data = obj.data; //得到所在行所有键值
            var value = obj.value; //得到修改后的值
            var field = obj.field; //得到字段
            var code = data.code;
            $.ajax({
                url: '/history/task_refuse_edit_update?field=' + field + '&value=' + value + '&code=' + code,
                dataType: 'json',
                type: 'get',
                success: function (res) {
                    if(res.success) {
                        layer.msg('修改成功！');
                    } else {
                        layer.msg('操作失败！');
                    }
                    table.reload('all',{
                        data:table.cache.all,
                    })
                }
            });
        });
        table.render({
            elem: '#all'
            ,url:'/history/task_refuse_edit_fetch'
            ,page: true
            ,event: true
            ,totalRow: true
            ,method: 'post'
            ,parseData: function (res) {
                var data = res.data;
                return {
                    'code': res.code,
                    'count': data.count,
                    'data': data.list,
                    'batch': data.batch,
                }
            }
            ,cols: [
                [
                    {type:'numbers', width:80, title: ' ', totalRowText: '合计'}
                    // ,{field:'genDate', title: '生成日期', sort: true, templet:function(d){
                    //     return util.toDateString(d.genDate*1000, "yyyy-MM-dd HH:mm:ss");
                    // }}
                    ,{field:'batch', title: '批次', sort: true, minWidth: 120}
                    ,{field:'code',title: '编码', minWidth: 150}
                    ,{field:'cementName', title: '水泥厂', sort: true, minWidth: 100}
                    ,{field:'sectionName', title: '标站', minWidth: 100}
                    ,{field:'tasks', title: '运输计划(吨)', totalRow: true, minWidth: 50, edit: 'text'}
                    ,{field:'realUp', title: '实装(吨)', totalRow: true, minWidth: 50}
                    ,{field:'realDown', title: '实卸(吨)', totalRow: true, minWidth: 50}
                    ,{field:'beforeCar', title: '改派前车辆', minWidth: 50}
                    ,{field:'upOverTime', title: '装货超时时间', minWidth: 100}
                    ,{field:'traverOverTime', title: '运输超时时间', minWidth: 100}
                    ,{field:'fuel', title: '耗油(升)', sort: true, minWidth: 50}
                    ,{field:'drivingTime', title: '驾驶时间(秒)', sort: true, minWidth: 50}
                    ,{field:'mileage',  title: '路程(千米)', sort: true, minWidth: 50}
                    ,{field:'realUpImg',  title: '实装凭据', sort: true, templet: '#realUpImg', minWidth: 100}
                    ,{field:'realDownImg', title: '实卸凭据', sort: true, templet: '#realDownImg', minWidth: 100}
                    ,{fixed: 'right', title: '操作', align:'center', toolbar: '#mapBar', minWidth: 150}
                ]
            ]
            ,done: function (res, curr, count) {
                var arr = res.batch;
                if(arr != null && arr != undefined) {
                    $.each(arr, function (index, item) {
                        $('#batch').append(new Option(item, item));
                    });
                }
                layui.form.render("select");
            }
        });

        function pathWithParam(car, acceptTime, downTime) {
            var path = '/orbit';
            if(car == null || acceptTime == null || downTime == null) {
                return;
            }
            path = path + '?car=' + car;
            path = path + '&acceptTime=' + util.toDateString(acceptTime*1000, "yyyy-MM-dd HH:mm:ss");
            path = path + '&downTime=' + util.toDateString(downTime*1000, "yyyy-MM-dd HH:mm:ss");
            return path;
        }

        table.on('tool(all)', function(obj){
            var data = obj.data;
            if(data.acceptTime == null || data.downTime == null || data.car == null) {
                layer.alert('任务尚未完成!')
                return;
            }
            var path = pathWithParam(data.car, data.acceptTime, data.downTime);
            layer.open({
                type: 2
                ,title: false //不显示标题栏
                ,closeBtn: false
                ,shade: 0.8
                ,area: ['1000px', '800px']
                ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                ,btn: '关闭'
                ,btnAlign: 'c'
                ,moveType: 1 //拖拽模式，0或者1
                ,content: path
                ,success: function(layero){}
            });
        });
    });
    $(document).on('click', '#counts', function () {
        var cementId = $('#cementId').val();
        var sectionId = $('#sectionId').val();
        var batch = $('#batch').val();
        var state = $('#state').val();
        var license = $('#license').val();
        var isChangeCar = $('#isChangeCar').val();
        var loadOverTime = $('#loadOverTime').val();
        var transportOverTime = $('#transportOverTime').val();
        var dateRange = $('#dateRange').val();logistic
        var hasError = $('#hasError').val();
        var materialId = $('#materialId').val();
        var logistic = $('#logistic').val();
        layui.use(['table', 'util'], function () {
            var table = layui.table;
            var util = layui.util;
            table.render({
                elem: '#all',
                url: '/history/task_refuse_edit_fetch',
                event:true,
                where: {
                    batch: batch,
                    cementId: cementId,
                    sectionId: sectionId,
                    isChangeCar: isChangeCar,
                    state: state,
                    license: license,
                    loadOverTime: loadOverTime,
                    transportOverTime: transportOverTime,
                    dateRange: dateRange,
                    hasError: hasError,
                    materialId: materialId,
                    logistic: logistic,
                },
                page: true,
                method: 'post',
                totalRow: true,
                parseData: function (res) {
                    var data = res.data;
                    return {
                        'code': res.code,
                        'count': data.count,
                        'data': data.list,
                        'batch': data.batch,
                    }
                },
                cols: [
                    [
                        {type:'numbers', width:80, title: ' ', totalRowText: '合计'}
                        // ,{field:'genDate', title: '生成日期', sort: true, templet:function(d){
                        //     return util.toDateString(d.genDate*1000, "yyyy-MM-dd HH:mm:ss");
                        // }}
                        ,{field:'batch', title: '批次', sort: true, minWidth: 120}
                        ,{field:'code',title: '编码', minWidth: 150}
                        ,{field:'cementName', title: '水泥厂', sort: true, minWidth: 100}
                        ,{field:'sectionName', title: '标站', minWidth: 100}
                        ,{field:'tasks', title: '运输计划(吨)', totalRow: true, minWidth: 50}
                        ,{field:'realUp', title: '实装(吨)', totalRow: true, minWidth: 50}
                        ,{field:'realDown', title: '实卸(吨)', totalRow: true, minWidth: 50}
                        ,{field:'beforeCar', title: '改派前车辆', minWidth: 50}
                        ,{field:'upOverTime', title: '装货超时时间', minWidth: 100}
                        ,{field:'traverOverTime', title: '运输超时时间', minWidth: 100}
                        ,{field:'fuel', title: '耗油(升)', sort: true, minWidth: 50}
                        ,{field:'drivingTime', title: '驾驶时间(秒)', sort: true, minWidth: 50}
                        ,{field:'mileage',  title: '路程(千米)', sort: true, minWidth: 50}
                        ,{field:'realUpImg',  title: '实装凭据', sort: true, templet: '#realUpImg', minWidth: 100}
                        ,{field:'realDownImg', title: '实卸凭据', sort: true, templet: '#realDownImg', minWidth: 100}
                        ,{fixed: 'right', title: '操作', align:'center', toolbar: '#mapBar', minWidth: 150}
                    ]
                ]
                ,done: function (res, curr, count) {}
            });
        });
    });
    $(document).on('click', '#sync', function () {
        $.ajax({
            url: '/history/sync_refuse_edit',
            dataType: 'json',
            type: 'get',
            success: function (res) {
                if(res.success) {
                    layer.msg('同步成功！');
                } else {
                    layer.msg('同步失败！');
                }
            }
        });
    });
</script>
<script type="text/html" id="mapBar">
    <a class="layui-btn layui-btn-xs" lay-event="orbit">查看历史轨迹</a>
</script>
<script type="text/html" id="realUpImg">
    {{# if(d.realUpImg != null){ }}
        <a class="layui-table-link" href="{{d.realUpImg}}" target="_blank">点击查看</a>
    {{# } else {}}
        无
    {{# } }}
</script>
<script type="text/html" id="realDownImg">
    {{#  if(d.realDownImg != null){ }}
        <a class="layui-table-link" href="{{d.realDownImg}}" target="_blank">点击查看</a>
    {{#  } else { }}
        无
    {{#  } }}
</script>
</html>